@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}
@font-face {
  font-family: "myfonts";
  src: url(./static/onebanc_fonts.ttf);
}
.main_cont {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
.left_cont {
  flex: 45%;
  padding-left: 3%;
  background: linear-gradient(0deg, rgba(3, 135, 209, 1), rgb(58, 134, 179)),
    linear-gradient(to bottom, rgba(3, 135, 209, 1), #015584);
}
.logo img {
  width: 330px;
  margin-top: 33px;
}
.content {
  padding-top: 32px;
}
.text p,
.text span {
  font-size: 50px;
  line-height: 3.5rem;
  color: white;
}
.description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: white;
  line-height: 1.6rem;
}
.email_box {
  margin-top: 32px;
  width: 384px;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 82, 167);
  padding: 12px;
  padding-right: 7px;
  border-radius: 5px;
  font-size: 17px;
  color: white;
}
.email_box_cover {
  min-height: 110px;
}
.qr_code {
  margin-top: 28px;
}
.footer {
  margin-top: 32px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

#inp_eml {
  width: 100%;
  height: 35px;
  padding-left: 10px;
}
.input_field {
  position: relative;
  margin-top: 4px;
}
.send {
  position: absolute;
  height: 35px;
  width: 60px;
  right: 0%;
  border: 0;
  background: linear-gradient(to right, #00d1eb 0%, #00e8d7 100%);
}
.icon {
  font-weight: normal;
  font-size: 30px;
  color: white;
  margin-top: 3px;
}
.right_cont {
  position: relative;
  flex: 55%;
}
.wave {
  position: absolute;
  left: -16%;
  top: 0%;
  height: 100%;
}
.wave img {
  height: 100%;
}
.right_main_cont {
  height: 100%;
  width: 100%;
  position: relative;
}
.innercont {
  display: flex;
  height: 622px;
  width: 546px;
  position: relative;
  top: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 30px;
}
.img1 img {
  width: 191px;
  margin-left: 46px;
}
.img2 {
  width: 121px;
  display: flex;
  justify-content: center;
  padding-left: 24px;
  position: relative;
  top: -51%;
}
.img2 img {
  position: absolute;
  right: 49%;
}
.img3 img {
  width: 234px;
  margin-right: -77px;
}
.icons {
  font-family: "myFonts";
  font-size: 40px;
}

.title {
  font-size: 9px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}
.analytics {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -4%;
  left: 13%;
}
.cards {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -4%;
  left: 29%;
}
.payments {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 4%;
  left: 44%;
}
.loans {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 17%;
  left: 49%;
}
.support {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 32%;
  left: 49%;
}
.forex {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 6%;
  left: 1%;
}
.investment {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 19%;
  left: -3%;
}
.savings {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 34%;
  left: 0%;
}
.rewards {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 7%;
}
.bank_title {
  font-family: "Comic Sans MS", "Roboto", "Cambria", "lucida grande",
    "lucida sans", Geneva, "sans-serif", tahoma, helvetica, arial;
  font-size: 25px;
  color: #000;
  position: absolute;
  bottom: 8%;
  width: 100%;
  text-align: center;
  left: -17%;
}
.bank_title2 {
  font-family: "Comic Sans MS", "Roboto", "Cambria", "lucida grande",
    "lucida sans", Geneva, "sans-serif", tahoma, helvetica, arial;
  font-size: 25px;
  color: #000;
  position: absolute;
  bottom: 8%;
  width: 70%;
  text-align: center;
  left: 54%;
}
.right_stroke img {
  width: 95px;
}
.left_stroke img {
  width: 95px;
  transform: rotateY(180deg);
}
.left_stroke {
  position: absolute;

  top: 8%;
  left: 89%;
}
.right_stroke {
  position: absolute;
  top: 8%;
  left: 113%;
}
.left_small_stroke img {
  width: 24px;
  transform: rotateY(180deg);
}
.right_small_stroke img {
  width: 24px;
}
.left_small_stroke {
  position: absolute;
  top: 1%;
  right: -2%;
}
.right_small_stroke {
  position: absolute;
  top: 0%;
  right: -13%;
}
.img3 .cards {
  font-family: "myfonts";
}
.ricons {
  font-family: "myFonts";
  font-size: 35px;
}
.rtitles {
  font-size: 9px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}
.rcards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 23%;
  right: -13%;
}
.rloans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 13%;
  right: -8%;
}
.rpayments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 12%;
  right: -18%;
}
.rrewards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 4%;
  right: -3%;
}
.rsavings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 4%;
  right: -13%;
}
.rsupport {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 4%;
  right: -22%;
}
.ranalytics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -4%;
  right: -27%;
}
.rforex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -6%;
  right: -13%;
}
.rinvestment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -5%;
  right: 2%;
}
